{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('build/images/mefb.jpg') }}" class="ava" alt="me">
    <div class="countdown">
        Time for my birthday: <span data-countdown-to="2022-02-14 00:00"></span>
    </div>
{% endblock %}
